{% extends "base-structure.html" %}

{% block title %}
Homepage
{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
    #intro {
      padding-top: 15px;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i aria-hidden="true"></i>Resume</h1>
   <p>This is my resume page</p>


<h2>Contact:</h2>
<h2 class="mt-6"><a href="https://www.linkedin.com/in/praakhya-edara-abba36108/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h2>

 </div>
{% endblock %}
